<nav>
    <ul>
        <li>
            <a href="/synth">
                <h1>weather synthesis</h1>
            </a>
        </li>
        <li style="float:right"><a href="/about">
                <h1>about</h1>
            </a></li>
    </ul>

</nav>