<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/landing-style.css">
    <link rel="stylesheet" href="./styles/fade.css">
    <title>weather tones</title>

</head>

<body>
    <main>
        <section class="fade title">
            <h1>Synthesize Your Weather!</h1>
            <a href="/synth" class="button">Enter the Synth!</a>
        </section>
        <section class="description fade">
            <p>Have you ever wondered, <i>"How would my weather forecast sound?"</i>. Now you have the power to turn
                your
                weather
                forecast into a flowing synthesizer landscape with <strong>©weather tones</strong>.</p>

        </section>

    </main>
</body>

</html>