<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pts/0.9.6/pts.min.js"></script>
    {{!--
    <script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.iife.js"></script>--}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.9/Tone.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="./imgs/ClipartKey_3270217.png" type="image/x-icon">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/fade.css">
    <title>weather tones</title>

</head>

<body class="fade">
    {{>header}}

    <div id="container">

        <h3>How to Use</h3>
        <p>Search for a location and listen to the results. Your forecast's description, temperature, and time of search
            will affect the sounds you hear.</p>

        <div class="info-container">
            <div class="form-container">
                <form>
                    <input id='searchInput' type="text" placeholder="Choose a location" required>
                    <button id="searchBtn">Search</button>
                    <button id="stopBtn">Stop</button>
                </form>
            </div>
            <div class="weatherForecast">
                <p id="title"></p>
                <strong>
                    <h3 id="des"></h3>
                </strong>
                <strong>
                    <h3 id="temp"></h3>
                </strong>
            </div>
        </div>


        <div id="synthSketch"></div>

    </div>
    {{>footer}}


    <script type="module" src="./js/sequencer.js"></script>
    <script type="module" src="./js/sketch.js"></script>
</body>

</html>