body {
  background-color: #28abb9;
  font-family: monospace;
}
#container {
  padding: 1rem;
  background-color: #effad3;
  margin: 30px auto auto auto;
  width: 60%;
}
table {
  width: 100%;
  /* margin-bottom: 100px; */
  table-layout: fixed;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  color: #ff0000;
}

footer {
  text-align: center;
}

p {
  font-size: 14px;
}
li {
  font-size: 14px;
}

@media only screen and (max-width: 500px) {
  #container {
    margin: 0 auto;
    width: 100%;
  }
  td {
    display: block;
  }
  table {
    display: block;
  }
  #synthSketch {
    display: none;
  }
  .stop {
    display: none;
  }
  #searchBtn {
    width: 100%;
  }
  #searchInput {
    width: 95%;
  }
  #stop {
    display: inherit;
    border: none;
    width: 100%;
    padding: 5px;
    background-color: #f36f62;
    color: #fff;
  }
}

@media only screen and (max-width: 780px) {
  #container {
    margin: 0 auto;
    width: 70%;
  }
  table {
    display: block;
    table-layout: fixed;
  }
  td {
    display: block;
  }
  .weatherForecast {
    /* Behave  like a "row" */
    position: relative;
    margin-bottom: 1rem;
  }
  #synthSketch {
    display: none;
  }
}

#searchBtn,
#searchInput {
  display: inline-block;
  padding: 5px 5px;
  font-size: 14px;
}
#searchInput {
  border: 1px solid #666;
}
#searchBtn {
  border: 1px solid transparent;
}

.weatherForecast {
  max-width: 300px;
  /* position: absolute; */
}

.stop {
  margin-top: 0.3rem;
  text-align: center;
}
.stop button {
  width: 50%;
  border: none;
  padding: 5px;
  background-color: #f36f62;
  color: #fff;
}

#synthSketch {
  /* margin-top: 3.5rem; */
  width: 100%;
  height: 370px;
}

.mobileStop {
  display: none;
}
