/* fix the footer */

/* consider a more traditional header with links */

/* go through and clean up the mobile design */

body {
  background-color: #28abb9;
  font-family: monospace;
}
#container {
  padding: 1rem;
  background-color: #effad3;
  margin: 30px auto auto auto;
  width: 60%;
  min-height: 80vh;
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 60%;
  margin: auto auto;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li {
  float: left;
}
nav li a {
  text-decoration: none;
  color: #000;
}
nav li a:hover {
  color: #ff0000;
}

footer {
  text-align: center;
}

p {
  font-size: 14px;
}
li {
  font-size: 14px;
}

#searchBtn,
#stopBtn {
  padding: 0.2rem;
  border: none;
}
#stopBtn {
  background-color: #f36f62;
  color: #fff;
}

@media only screen and (max-width: 500px) {
  #container {
    margin: 0 auto;
    width: 100%;
  }

  #synthSketch {
    min-height: 70vh;
  }
}

@media only screen and (max-width: 780px) {
  #container {
    margin: 0 auto;
    width: 70%;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .weatherForecast {
    /* Behave  like a "row" */
    position: relative;
    margin-bottom: 1rem;
  }
  #synthSketch {
    height: max-content;
  }
}

/* 
#searchInput {
  border: 1px solid #666;
}
#searchBtn {
  border: 1px solid transparent;
} */

.weatherForecast {
  max-width: 300px;
  /* position: absolute; */
}

.stop {
  margin-top: 0.3rem;
  text-align: center;
}
.stop button {
  width: 50%;
  border: none;
  padding: 5px;
  background-color: #f36f62;
  color: #fff;
}

#synthSketch {
  /* margin-top: 3.5rem; */
  width: 100%;
  height: 370px;
  margin-top: 2rem;
}

.mobileStop {
  display: none;
}

/* three.js */
#canvas {
  position: absolute;
  top: 300px;
  left: 600px;
  /* background: #effad3; */
}
